.property-item a img {
  height: 300px;
}
.box-feature span img {
  height: 150px;
}

.hero-slide {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.hero {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
